@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f5f5f5;
  --foreground: #171717;
  view-transition-name: root;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html.dark {
  --background: #171717;
  --foreground: #f5f5f5;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  text-rendering: optimizeLegibility;
}

* {
  transition-property: background-color, border-color, color, box-shadow,
    transform;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

html {
  scroll-behavior: smooth;
  color-scheme: light dark;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}
